@tailwind base;
@tailwind components;
@tailwind utilities;


.leaflet-container {
    outline: none !important;
    border-radius: 0.75rem;
}

.leaflet-tile-container {
    filter: grayscale(50%) brightness(50%);

}